<h2>categories</h2>
<ul>
    <% site.categories.each(category=>{ %>
        <li>
            <a href="<%- url_for(category.path) %>">
                <%- category.name  %> 
            </a>
        </li>
    <% }) %>
</ul>