<!DOCTYPE html>
<html>
    <%- partial('_partial/header') %>
    
    <body>
        <%- partial('_partial/nav') %>
        <div class="top-container">
            <%- body %> 
        </div>
    </body>

</html>