<!-- 博客详情 -->
<% console.log(page) %> 

<div class="blog-detail-container">
    <div class="blog-detail-article">

        <div class="blog-detail__title">
            <%- page.title %>
        </div>
        <div class="blog-detail__info">
            <span class="bolg_breadcrumb">
                <div>MaxLeton></div>
                <div class="blog-tag">博客 </div>
            </span>
            <span><%- date(page.date , 'YYYY/MM/DD HH:mm:ss') %></span>
        </div>
        
    </div>
    <div class="blog-detail__content">
        <%- page.content  %> 
    </div>
</div>